<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="/css/bootstrap.css">
<title>Editar Departamento</title>
</head>
<body>
	<div align="center">
		<h1>Editar Departamento</h1>
		<br />
		<form action="#" th:action="@{/save}" th:object="${departments}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>				
					<td>#</td>
					<td>
						<input type="text" th:field="*{dept_no}" readonly="readonly" />
					</td>
				</tr>			
				<tr>				
					<td>Department Name:</td>
					<td>
						<input type="text" th:field="*{dept_name}" />
					</td>
				</tr>								
			</table>
			<button type="submit" onclick="javascript:alert('Editado');">Editar</button> 
			<button th:action="@{/}"  type="submit">Volver</button> 
		</form>
	</div>
</body>
</html>