<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'
	rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onload="myFunction2()">
	<nav>
		<div class="navbar">
			<i class='bx bx-menu'></i>
			<div class="logo">
				<a href="#">Mis tickets -Resolver-
					[[${#httpServletRequest.remoteUser}]]</a>
			</div>
			<div class="nav-links">
				<div class="sidebar-logo">
					<span class="logo-name">CodingLab</span> <i class='bx bx-x'></i>
				</div>
				<ul class="links">
					<li><a th:href="@{/home}">HOME</a></li>
					<li><a href="#">Personal</a> <i
						class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
						<ul class="htmlCss-sub-menu sub-menu">
							<li><a th:href="@{/mistickets}">Mis tickets</a></li>
							<li><a th:href="@{/creaticket}">Crear</a></li>
						</ul></li>
					<li><a href="#">Administración</a> <i
						class='bx bxs-chevron-down js-arrow arrow '></i>
						<ul class="js-sub-menu sub-menu">
							<li><a href="#">Estados-ticket</a></li>
							<li><a th:href="@{EstadosSistemaCRUD}">Estados-Sistema</a></li>
							<li><a th:href="@{UsuariosCRUD}">Usuarios</a></li>
							<li><a th:href="@{RolCRUD}">Roles</a></li>
						</ul></li>
					<li><a th:href="@{/}">Cerrar Sesión</a></li>
				</ul>
			</div>
			<div class="search-box">
				<i class='bx bx-search'></i>
				<div class="input-box">
					<input type="text" placeholder="Search...">
				</div>
			</div>
		</div>
	</nav>


	<br>
	<br>
	<br>
	<br>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/css/bootstrap.css">
	<title>Editar Ticket</title>
</head>
<body>
	<div align="center">
		<form action="#" th:action="@{/saveTicket}" method="GET">
			<table border="0" cellpadding="10">
				<tr>
					<td># Ticket (Auto):</td>
					<td><input type="text" th:field="*{ticket.idTicket}"
						th:id="FK2" th:readonly="true" /></td>
					<td>Estado:</td>
					<td><select th:field="*{ticket.Estado}">
							<option th:value="'1'" th:text="Asignado" th:readonly="true"></option>
							<option th:value="'2'" th:text="Cerrado" th:readonly="true"></option>
					</select></td>
					<td>Fecha Creacion:</td>
					<td><input type="text" th:field="*{ticket.fechaCreacion}"
						th:id="fechaini" th:readonly="true" /></td>
					<td>Fecha Termino:</td>
					<td><input type="text" th:field="*{ticket.fechaTermino}"
						th:id="fechater" th:readonly="true" /></td>
				</tr>
				<tr>
					<td>Asignar a:</td>
					<td><select th:field="*{ticket.Usuario}">
							<option th:value="'1'" th:text="Admin" th:readonly="true"></option>
							<option th:value="'2'" th:text="QA" th:readonly="true"></option>
							<option th:value="'3'" th:text="PMO" th:readonly="true"></option>
					</select></td>
					<td>Titulo Ticket:</td>
					<td><input type="text" th:field="*{ticket.tituloTicket}"
						required /></td>

					<td><input type="hidden" th:field="*{ticket.idUsuario}" /></td>

				</tr>
			</table>
			<button type="submit" onclick="javascript:alert('Editado');">Crear</button>
			<button th:action="@{/mistickets}" type="submit">Volver</button>

			<h1 align="left">Comentarios Ticket</h1>

			<a th:href="@{/newHistorico}">Crear nuevo Comentario</a>

			<div style="text-align: center;">
				<table class="table table-bordered" border="1">
					<thead class="thead-light">
						<tr>
							<th># Ticket</th>
							<th>Comentario</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="HistoricoTicket : ${listHistoricoTicket}">
							<td th:text="${HistoricoTicket.idTicketFK}" th:id="FKTEST888">IDTICKET</td>
							<td th:text="${HistoricoTicket.mensajeHistorico}">MENSAJEHISTORICO</td>
						</tr>
					</tbody>
				</table>
			</div>

		</form>
	</div>
	
</body>
</html>