<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Sistema Tickets - Modulo 5 JPA</title>
<link rel="stylesheet" href="/css/bootstrap.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js"></script>
	<script	src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
    <script src="/js/bootstrap.js"></script>
	<script src="/js/department.js"></script>
	<script src="https://unpkg.com/epgg@latest/umd/epgg.js"></script>


	<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
    <h1>Bienvenido</h1>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario/Rut">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
      <input type="submit" class="fadeIn fourth" th:action="@{home}" value="Ingresar">
      <button th:action="@{home}" class="fadeIn fourth"  type="submit">Ingresar</button> 
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" th:href="@{home}">¿Olvidó su contraseña?</a>
    </div>

  </div>
</div>

</body>
</html>